h5
  在这个页面中管理员将会看到新闻的详细情况，
  可以通过点击delete按键将新闻删除
h1= onenews.title
form(action="/news/manager" + encodeURIComponent(onenews._id), method="POST")
  input(name="_method", type="hidden", value="DELETE")
  input(type="submit", value="Delete")
h3= onenews.time
h3= onenews.author
div!=onenews.body
ul
  - comments.forEach(function(comment){
    li
      div!= comment.body
      h6= comment.sNum
      h6= comment.time
  - })