h1= onenews.title
h3= onenews.time
h3= onenews.author
div!=onenews.body
a(href='/comments/newComment') 我来评论
ul
  - comments.forEach(function(comment){
    li
      div!= comment.body
      h6= comment.sNum
      p
        a(href='/comments' + encodeURIComponent(comment._id)) 点赞
  - });