h5
  在这个页面中管理员将会看到文物的详细情况，
  可以通过点击delete按键将文物删除
h1= antique.name
form(action="/antiques/manager" + encodeURIComponent(antique.ID), method="POST")
  input(name="_method", type="hidden", value="DELETE")
  input(type="submit", value="Delete")
h3= antique.ID
h3= antique.country
h3= antique.era
h3= antique.category
h3= antique.value
h3= antique.location
div!=antique.detail