h1= new.title
h3= new.time&nbsp
h3= new.author
div!=new.body
a(href='/comments/newComment')= 我来评论
ul
  - comments.forEach(function(comment){
    li
      h4= comment.body&nbsp&nbsp
      a(href='/comments/' + encodeURIComponent(comment._id))= 点赞
  - });